<div id="top">
  <!-- header -->
  <app-main-header></app-main-header>

  <div class="details-main-div">
    <div class="container-fluid">
      <div
        class="back-div"
        style="display: flex; width: max-content"
        routerLink="/main/book-list"
      >
        <svg
          width="20px"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          ></path>
        </svg>
        <span>Back to Books</span>
      </div>
    </div>
    <div class="">
      <div class="details-main">
        <div class="product-card">
          <div class="product-tumb">
            <img
              data-v-0f6ffb86=""
              src="{{
                bookDetailsList?.coverUrl != null
                  ? bookDetailsList?.coverUrl
                  : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
              }}"
              alt='Blinks cover of "Unlocking Parental Intelligence" by Laurie Hollman'
              loading="lazy"
              class="pict__image book-card-mini__image"
            />
          </div>
        </div>
        <div class="details-div">
          <h4>{{ bookDetailsList?.subject }}</h4>
          <h1>{{ bookDetailsList?.title }}</h1>
          <p>{{ bookDetailsList?.authors[0]?.name }}</p>
          <div class="buttons">
            <!-- <button class="btn round-button" (click)="showDialog2()">
            Get Insights
          </button> -->
            <button
              class="btn round-button"
              (click)="booksTips(content, header, 'fullscreen')"
            >
              Get Tips
            </button>
          </div>
        </div>
      </div>
      <div class="book-desc">
        <h2>About Book</h2>
        <div [ngClass]="{ limitTextHeight: isReadMore }">
          <span style="font-size: 14px; white-space: pre-line">
            {{ bookDetailsList?.subtitle }}
          </span>
        </div>
        <button
          type="button"
          style="
            margin-top: 1em;
            padding: 0.5em 0.5em;
            background-color: #f37088;
            border-color: #f37088;
            border: 2px solid #f37088;
            color: #fff;
          "
          (click)="showText()"
        >
          {{ isReadMore ? "Read More" : "Read Less" }}
        </button>
        <div>
          <div class="books-main-div">
            <h3>Recently <span>Viewed</span></h3>
          </div>
          <div class="recently-view-book" style="margin-top: 4em">
            <div class="career-books-sec">
              <div class="carousel-container-3">
                <div class="inner-carousel">
                  <div class="track-3">
                    <div class="card-container" *ngFor="let item of viewedBook">
                      <div
                        class="card card"
                        (click)="moveToDeatils(item.id)"
                        style="cursor: pointer"
                      >
                        <div class="flex-shrink-0 w-44 snap-start">
                          <img
                            style="
                              height: 170px;
                              object-fit: contain;
                              width: -webkit-fill-available;
                            "
                            src="{{
                              item?.coverUrl != null
                                ? item?.coverUrl
                                : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
                            }}"
                            alt=""
                            class="item pict__image book-card-mini__image"
                          />

                          <div class="book-card-mini__content">
                            <h4 class="book-card-mini__headline">
                              {{ item.title }}
                            </h4>
                            <div class="book-card-mini__author">
                              by {{ item.authors[0].name }}
                            </div>
                            <div class="book-card-mini__subheadline">
                              {{ item.subtitle }}
                            </div>
                            <!-- <div class="book-card-mini__duration">15 min</div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nav">
                    <button class="prev-3">
                      <img
                        src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-left-arrow-flatart-icons-outline-flatarticons-1.png"
                      />
                    </button>
                    <button class="next-3">
                      <img
                        src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-right-arrow-flatart-icons-outline-flatarticons-1.png"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="books-main-div">
            <h3>Read <span>Books</span></h3>
          </div>
          <div class="books-main-div" style="margin-top: 4em">
            <div class="career-books-sec">
              <div class="carousel-container-2">
                <div class="inner-carousel">
                  <div class="track-2">
                    <div class="card-container" *ngFor="let item of Bookread">
                      <div
                        class="card card"
                        (click)="moveToDeatilsForRead(item.id)"
                        style="cursor: pointer"
                      >
                        <div class="flex-shrink-0 w-44 snap-start">
                          <img
                            style="
                              height: 170px;
                              object-fit: contain;
                              width: -webkit-fill-available;
                            "
                            src="{{
                              item?.coverUrl != null
                                ? item?.coverUrl
                                : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
                            }}"
                            alt=""
                            class="item pict__image book-card-mini__image"
                          />

                          <div class="book-card-mini__content">
                            <h4 class="book-card-mini__headline">
                              {{ item.title }}
                            </h4>
                            <div class="book-card-mini__author">
                              by {{ item.authors[0].name }}
                            </div>
                            <div class="book-card-mini__subheadline">
                              {{ item.subtitle }}
                            </div>
                            <!-- <div class="book-card-mini__duration">15 min</div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nav">
                    <button class="prev-2">
                      <img
                        src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-left-arrow-flatart-icons-outline-flatarticons-1.png"
                      />
                    </button>
                    <button class="next-2">
                      <img
                        src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-right-arrow-flatart-icons-outline-flatarticons-1.png"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
  <!-- Books Tips Modal -->
  <ng-template #content let-observer>
    <img
      src="../../../../assets/logo/loading.gif"
      *ngIf="bookLoading && allBooksTips?.length == 0"
      style="display: block; margin: auto"
      alt=""
    />
    <div class="wrapper">
      <div class="cols">
        <div
          class="col"
          ontouchstart="this.classList.toggle('hover');"
          *ngFor="let item of allBooksTips"
        >
          <div class="container">
            <div
              class="front"
              style="
                background-image: url(../../../../assets/img/light-bulb-floating-on-stack-of-books-vector.jpg);
              "
            >
              <div class="inner">
                <p>Tip {{ item.split(". ")[0] }}</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p class="tipDesc">{{ item }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <div class="header">
      <div class="overlay">
        <h1 class="tips-heading">
          Tips for:
          {{ bookDetailsList?.title || Bookread.title || viewedBook.title }}
        </h1>
      </div>
    </div>
  </ng-template>

  <!-- <ng-template style="width:90% !important"
  let-observer
  [tuiDialogOptions]="{ label: '', size: 's' }"
  [(tuiDialog)]="open"
>
  <img
    src="../../../../assets/logo/loading.gif"
    *ngIf="allBooksTips.length == 0"
    style="display: block; margin: auto"
    alt=""
  />
  <tui-carousel [itemsCount]="2" [(index)]="index">
    <ng-container *ngFor="let item of allBooksTips">
      <tui-island *tuiItem class="item" style="border-radius: 0px">
        <div class="tui-island__content" style="flex-direction: column">
          <img
            style="width: 100%"
            src="https://img.freepik.com/premium-vector/black-open-book-with-yellow-bulb-with-shadow-flat-trend-modern-brochure-logotype-graphic-design-web-element-isolated-white-concept-business-literature-publishing-bookstore-pictogram_775815-424.jpg"
            alt=""
          />
          {{ item }}
        </div>
      </tui-island>
    </ng-container>
  </tui-carousel>
  <tui-pagination
    size="s"
    class="tui-space_top-4"
    [length]="allBooksTips.length / itemsCount"
    [index]="rounded"
    (indexChange)="onIndex($event)"
  ></tui-pagination>



</ng-template> -->

  <!-- Getinside Email Modal -->
  <ng-template style="padding: 1rem" let-observer [(tuiDialog)]="open2">
    <div>
      <div>
        <div class="wf-content-modal" style="padding: 1rem">
          <label style="font-size: 18px; font-weight: 600">Email</label>
          <div
            class="input-box"
            style="
              width: 100%;
              margin: 2em 0em;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            "
          >
            <i
              class="fa fa-envelope"
              aria-hidden="true"
              style="padding-bottom: 0.5em"
            ></i>
            <input
              type="text"
              [(ngModel)]="email"
              placeholder="Enter your email*"
              required
              style="width: 100%; padding-bottom: 0.5em"
            />
          </div>
        </div>
      </div>
      <button
        class="send-btn"
        type="submit"
        style="
          width: 180px;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
        "
        (click)="emailInside()"
      >
        Send
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-reverse text-light ml-2"
        ></span>
      </button>
    </div>
  </ng-template>
</div>
