<header>
  <nav>
    <a id="logo">
      <img
        src="../../../../assets/img/logo.svg"
        style="height: 33px; cursor: pointer"
        routerLink="/main/home"
      />
      <strong
        style="margin-left: 0.6em; font-size: 18px; cursor: pointer"
        routerLink="/main/home"
        class="logo-text"
        >BooK-IT</strong
      >
      <div class="search-bar">
        <input
          type="search"
          autocomplete="off"
          name="search"
          placeholder="Search"
          required
        />
        <button class="search-btn" type="submit" routerLink="/main/book-list">
          <span>Search</span>
        </button>
      </div>
    </a>
    <i class="fas fa-bars" id="ham-menu"></i>
    <a class="avatar">
      <img src="{{ user.profileImage }}" alt="" />
      <h4 class="for-desktop">{{ user.name }}</h4>
    </a>
    <ul id="nav-bar">
      <div class="search-for-mobile">
        <input
          type="search"
          autocomplete="off"
          name="search"
          placeholder="Search"
          required
        />
      </div>
      <li
        class="mobile-menu"
        style="display: flex; justify-content: space-between"
      >
        <a
          routerLink="/app-dashboard/account-setting"
          routerLinkActive="is-active"
          >Account Settings</a
        >
        <!-- <h4 style="margin-right: 1em;">{{ user.name }}</h4> -->
      </li>
      <li class="mobile-menu">
        <a routerLink="/app-dashboard/subscription" routerLinkActive="is-active"
          >Subscription</a
        >
      </li>
      <li class="mobile-menu">
        <a routerLink="/app-dashboard/invoices" routerLinkActive="is-active"
          >Invoices</a
        >
      </li>
      <li class="mobile-menu">
        <a
          routerLink="/app-dashboard/reading-history"
          routerLinkActive="is-active"
          >Reading History</a
        >
      </li>
      <li class="mobile-menu">
        <a routerLink="/accounts/login" routerLinkActive="is-active">Logout</a>
      </li>
    </ul>
  </nav>
</header>
