<header>
  <nav>
    <a id="logo" routerLink="/main/book-list">
      <h1 class="coloLogoHeading">nano<span>reads</span></h1>
      <!-- <div class="search-bar">
        <input
          type="search"
          autocomplete="off"
          name="search"
          placeholder="Search"
          required
        />
        <button class="search-btn" type="submit" routerLink="/main/book-list">
          <span>Search</span>
        </button>
      </div> -->
    </a>
    <i class="fas fa-bars" id="ham-menu"></i>
    <a class="avatar">
      <img src="{{ user?.profileImage ? user.profileImage : 'https://t3.ftcdn.net/jpg/04/65/28/08/360_F_465280897_8nL6xlvBwUcLYIQBmyX0GO9fQjDwNYtV.jpg' }}" alt="" />
      <h4 class="for-desktop foMobile">{{ user?.name }}</h4>
    </a>
    <ul id="nav-bar">
      <div class="search-for-mobile">
        <input
          type="search"
          autocomplete="off"
          name="search"
          placeholder="Search"
          required
        />
      </div>
      <li
        class="mobile-menu"
        style="display: flex; justify-content: space-between"
      >
        <a
          routerLink="/app-dashboard/account-setting"
          routerLinkActive="is-active"
          >Account Settings</a
        >
        <!-- <h4 style="margin-right: 1em;">{{ user.name }}</h4> -->
      </li>
      <li class="mobile-menu">
        <a routerLink="/app-dashboard/subscription" routerLinkActive="is-active"
          >Subscription</a
        >
      </li>
      <!-- <li class="mobile-menu">
        <a routerLink="/app-dashboard/invoices" routerLinkActive="is-active"
          >Invoices</a
        >
      </li> -->
      <!-- <li class="mobile-menu">
        <a
          routerLink="/app-dashboard/reading-history"
          routerLinkActive="is-active"
          >Reading History</a
        >
      </li> -->
      <li class="mobile-menu">
        <a (click)="logout()" style="cursor: pointer;" routerLinkActive="is-active">Logout</a>
      </li>
    </ul>
  </nav>
</header>
