<div id="top">
  <app-header></app-header>
  <main class="main">
    <div class="responsive-wrapper">
      <div class="content">
        <div class="content-panel">
          <div class="vertical-tabs">
            <a
              routerLink="/app-dashboard/account-setting"
              routerLinkActive="is-active"
              >Account Settings</a
            >
            <a
              routerLink="/app-dashboard/subscription"
              routerLinkActive="is-active"
              >Subscription</a
            >
            <!-- <a routerLink="/app-dashboard/invoices" routerLinkActive="is-active" >Invoices</a> -->
            <!-- <a routerLink="/app-dashboard/reading-history" routerLinkActive="is-active">Reading History</a> -->
            <a
              (click)="logout()"
              style="cursor: pointer"
              routerLinkActive="is-active"
              >Logout</a
            >
          </div>
        </div>
        <div class="content-main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="forBooksDiv" [hidden]="router.url === '/app-dashboard/subscription'" *ngIf="Bookread.length > 0 && viewedBook.length > 0  " >
      <div class="booksMainDiv" >
        <div class="books-main-div" style="margin-top: 3em;">
          <h3>Recently <span>Viewed</span></h3>
        </div>
        <div class="recently-view-book" style="margin-top: 4em">
          <div class="career-books-sec">
            <div class="carousel-container-5">
              <div class="inner-carousel">
                <div class="track-5">
                  <div class="card-container" *ngFor="let item of viewedBook">
                    <div
                      class="card card"
                      [routerLink]="['/main/book-details', item.id]"
                      style="cursor: pointer"
                    >
                      <div class="flex-shrink-0 w-44 snap-start">
                        <img
                          style="height: 170px; object-fit: contain"
                          src="{{
                            item?.coverUrl != null
                              ? item?.coverUrl
                              : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
                          }}"
                          alt=""
                          class="item pict__image book-card-mini__image"
                        />

                        <div class="book-card-mini__content">
                          <h4 class="book-card-mini__headline">
                            {{ item.title }}
                          </h4>
                          <div class="book-card-mini__author">
                            by {{ item.authors[0].name }}
                          </div>
                          <div class="book-card-mini__subheadline">
                            {{ item.subtitle }}
                          </div>
                          <!-- <div class="book-card-mini__duration">15 min</div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav">
                  <button class="prev-5">
                    <img
                      src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-left-arrow-flatart-icons-outline-flatarticons-1.png"
                    />
                  </button>
                  <button class="next-5">
                    <img
                      src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-right-arrow-flatart-icons-outline-flatarticons-1.png"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Read book -->
        <div class="books-main-div">
          <h3>Read <span>Books</span></h3>
        </div>
        <div class="books-main-div" style="margin-top: 4em;margin-bottom: 3em;">
          <div class="career-books-sec">
            <div class="carousel-container-6">
              <div class="inner-carousel">
                <div class="track-6">
                  <div class="card-container" *ngFor="let item of Bookread">
                    <div
                      class="card card"
                      [routerLink]="['/main/book-details', item.id]"
                      style="cursor: pointer"
                    >
                      <div class="flex-shrink-0 w-44 snap-start">
                        <img
                          style="height: 170px; object-fit: contain"
                          src="{{
                            item?.coverUrl != null
                              ? item?.coverUrl
                              : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
                          }}"
                          alt=""
                          class="item pict__image book-card-mini__image"
                        />

                        <div class="book-card-mini__content">
                          <h4 class="book-card-mini__headline">
                            {{ item.title }}
                          </h4>
                          <div class="book-card-mini__author">
                            by {{ item.authors[0].name }}
                          </div>
                          <div class="book-card-mini__subheadline">
                            {{ item.subtitle }}
                          </div>
                          <!-- <div class="book-card-mini__duration">15 min</div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav">
                  <button class="prev-6">
                    <img
                      src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-left-arrow-flatart-icons-outline-flatarticons-1.png"
                    />
                  </button>
                  <button class="next-6">
                    <img
                      src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/1A1A1A/external-right-arrow-flatart-icons-outline-flatarticons-1.png"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>

<app-footer></app-footer>
