<!-- header -->
<div class="toolbar" role="banner">
  <div
    routerLink="/main/book-list"
    style="display: flex; align-items: center; cursor: pointer"
  >
  <h1 class="coloLogoHeading">nano<span>reads</span></h1>
  </div>
  <div class="spacer">
    <form (submit)="search(search)" action="#">
      <div class="search-bar" *ngIf="user">
        <input
          type="search"
          autocomplete="off"
          name="search"
          placeholder="Search"
          required
          [(ngModel)]="search"
        />
        <button class="search-btn" (click)="allBookList()">
          <span>Search</span>
        </button>
      </div>
    </form>
  </div>
  <div class="container" style="margin-top: 0.7em">
    <div class="half">
      <label for="profile2" class="profile-dropdown">
        <input type="checkbox" id="profile2" />
        <img
          src="{{
            user?.profileImage
              ? user.profileImage
              : 'https://t3.ftcdn.net/jpg/04/65/28/08/360_F_465280897_8nL6xlvBwUcLYIQBmyX0GO9fQjDwNYtV.jpg'
          }}"
          alt=""
        />
        <span class="foMobile">{{ user?.name }}</span>
        <label for="profile2"><i class="mdi mdi-menu"></i></label>
        <ul>
          <li>
            <a routerLink="/app-dashboard/account-setting"
              ><i class="mdi mdi-account"></i>Accounts Setting</a
            >
          </li>
          <li>
            <a (click)="logout()"><i class="mdi mdi-logout"></i>Logout</a>
          </li>
        </ul>
      </label>
    </div>
  </div>
</div>
<div class="bookListMainDiv" style="background-color: #f1f6f4;">
  <div class="container">
    <h3 class="product-heading">List Of Books</h3>
    <p class="loading" style="text-align: center;" *ngIf="loading">Loading</p>
    <div class="mt-5 mb-5 books-main">
      <div
        class="product-card"
        *ngFor="let item of books"
        [state]="item"
        [routerLink]="['/main/book-details', item.book.id]"
      >
        <div class="product-tumb">
          <img
            style="cursor: pointer"
            data-v-0f6ffb86=""
            src="{{
              item.book.coverUrl != null
                ? item.book.coverUrl
                : 'https://www.pngmart.com/files/8/Book-Cover-Transparent-Background.png'
            }}"
            alt='Blinks cover of "Unlocking Parental Intelligence" by Laurie Hollman'
            loading="lazy"
            class="pict__image book-card-mini__image"
          />
        </div>
        <div class="product-details">
          <h4>
            <a [routerLink]="['/main/book-details', item.book.id]">{{
              item.book.title
            }}</a>
          </h4>
          <p *ngFor="let i of item.book.authors">by {{ i.name }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="search !== ''">
      <h3 style="text-align: center">No Results Found</h3>
    </div>
    <div
      *ngIf="search === ''"
      class="load-more"
      style="
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
      "
    >
      <h3 class="product-heading">
        <a style="font-size: 1rem; cursor: pointer" (click)="loadMore()"
          >Load More</a
        >
      </h3>
    </div>
  </div>
</div>
<app-footer></app-footer>
