<div class="container">
  <h2>Reading History</h2>
  <div class="wrapper-table">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Achievements</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12 Rules For Life</td>
          <td>03-30-2023</td>
          <td>Stand up straight</td>
        </tr>
        <tr>
          <td>Good To Great</td>
          <td>04-01-2023</td>
          <td>disciplined thought</td>
        </tr>
        <tr>
          <td>Blink</td>
          <td>04-02-2023</td>
          <td>snap judgments</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
