<!-- footer -->
<footer class="padding_4x footer-heading">
  <div class="flex">
    <section class="flex-content padding_1x">
      <h4>Popular titles</h4>
      <a>Atomic Habits</a> <a>The 5 AM Club</a>
      <a>Think and Grow Rich</a>
      <a>12 Rules For Life</a>
    </section>
    <section class="flex-content padding_1x">
      <h4>Most popular categories</h4>
      <a>Personal development</a> <a>Psychology</a>
      <a>Productivity</a> <a>Career & Success</a>
    </section>
    <section class="flex-content padding_1x">
     <h4>Trending Collections</h4>
      <a>Blinks That Leaders Read</a>
      <a>The Magic Brain</a>
    </section>
  </div>
  <div class="flex">
    <section class="flex-content padding_1x">
      <p>Copyright ©2023 All rights reserved || nanoreads</p>
    </section>
    <section class="flex-content padding_1x">
      <!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
      <a href="#"><i class="fab fa-twitter"></i></a>
      <!-- <a href="#"><i class="fas fa-basketball-ball"></i></a> -->
      <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
    </section>
  </div>
</footer>
