<!-- footer -->
<footer class="padding_4x footer-heading">
  <div class="flex">
    <section class="flex-content padding_1x">
      <h4>Popular titles</h4>
      <a href="#">Atomic Habits</a> <a href="#">The 5 AM Club</a>
      <a href="#">Think and Grow Rich</a>
      <a href="#">12 Rules For Life</a>
    </section>
    <section class="flex-content padding_1x">
      <h4>Most popular categories</h4>
      <a href="#">Personal development</a> <a href="#">Psychology</a>
      <a href="#">Productivity</a> <a href="#">Career & Success</a>
    </section>
    <section class="flex-content padding_1x">
      <h4>Trending Collections</h4>
      <a href="#">14 Day Cryptocurrency Crash Course</a>
      <a href="#">This Is Cryptocurrency</a>
      <a href="#">Blinks That Leaders Read</a>
      <a href="#">The Magic Brain</a>
    </section>
  </div>
  <div class="flex">
    <section class="flex-content padding_1x">
      <p>Copyright ©2023 All rights reserved || BooK-IT</p>
    </section>
    <section class="flex-content padding_1x">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fas fa-basketball-ball"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </section>
  </div>
</footer>
