<div class="toolbar" role="banner" style="height: 65px;">
  <h1 class="coloLogoHeading">nano<span>reads</span></h1>

  <div class="spacer"></div>
</div>
<div class="thankyoucontent">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1 class="tanksHead">Thank you!</h1>
      <p>for contacting us, we will reply promptly</p>
      <p>once your message is received.</p>
      <button class="go-home" routerLink="/accounts/login">
        <a> Click Here To Login</a>
      </button>
    </div>
  </div>
</div>
